.header {}
.blogtitle {
    clear: both;
    width: 100%;
}
.sidebar {
    width: 200px;
    margin-top: 30px;
    float: left;
    color: #9e4d00;
    background-color: #222;
    font: 1.5em Helvetica;
    line-height: .6;
    letter-spacing: .3em;
    font-weight: lighter;
}
.blogtitle {
    margin-left: -2px;
    padding-bottom: 15px;
    color: #e09700;
    font: 2em Helvetica;
    letter-spacing: .1em;
    font-weight: bolder;
}
body {
    width: 900px;
    background-color: #111;
    color: #ffffcc;
  }
.rightcol {
    float: right;
    width: 650px;
    font-family: Verdana;
}
.post {
    width: 700px;
}

a {
    color: #9e4d00;
}
.userbar {
    font-family: Verdana;
    text-align: right;
    width: 100%;
    margin-top: -8px;
    margin-bottom: 8px;
    background-color: #222;
}

.loginbutton {
    float: right;
    font-family: Verdana;
    font-size: .7em;
    background-color: #222;
    margin-top: -8px;
    padding: 2px;
    border: 2px;
}

a > .loginbutton {
    text-decoration: none;
}

.markdownprev {
    border: 2px dotted;
    padding: 5px;
    width: 500px;
    height: 120px;
}

textarea {
    width: 500px;
    min-height: 120px;
}

.error {
    color:red;
    font-style: italic;
}
